* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #084A07;
    font-family: sans-serif;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    right: -11%;
    bottom: -20%;
    width: 675px;
    height: 740px;
    background-image: url("../assets/img/image3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 45px 0 310px 0;

    .header_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .list {
        display: flex;
        align-items: center;
        gap: 0 45px;
    }

    .link {
        color: #FFF;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.main {

    h1 {
        margin-bottom: 1px;
    }

    p {
        width: 630px;
        height: 109.356px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button {
        width: 250px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 40px;
        background: #FFF;
        color: #175015;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
    }
}